<!doctype html>
<html>
<head>
    <title>Wedding Guest Book</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1 id="small">Παναγιωτης και Ελευθερια</h1>
        <img src="img/wedding.jpg" id="img" alt="Bar">
                
        <p id="smaller">Αφήστε ένα μήνυμα στο Βιβλίο Επισκεπτών μας κάνοντας είσοδο ή εγγραφή:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user" id="login"></span>Σύνδεση</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user" id="signup"></span>νέος χρήστης</a>

    </div>

</div>
</body>
</html>
