<!doctype html>
<html>
<head>
    <title>Wedding Guest Book</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-gift"></span> Guest Book</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- row display -->
        <div class="col-sm-6">
          <div class="well">
            <h2>Add a message</h2>
            <form action="/messages" method="POST">
              <input type="text" placeholder="Name" name="name">
              <textarea rows="6" cols="30" placeholder="write message here..." name="msg"></textarea>

              <!-- <input id="longMessage" type="text" placeholder="Message" name="msg"> -->
              <p><button type="submit">Submit</button></p>
            </form>
          </div>
        </div>
        <div class="col-sm-6">     
          <h3>Messages</h3>
          <ul class="messages">
            <% for(var i=0; i<messages.length; i++) {%>
              <li class="message">
                <span><%= messages[i].name %>:</span>
                <span><%= messages[i].msg %></span>
                <p>
                <img src="img/ria.ico" id="bride">
                <img src="img/pano.ico" id="groom">
                </p>
                <span><i class="fa fa-trash" aria-hidden="true"></i></span>
              </li>
            <% } %>
          </ul>
        </div>
</div>

<script src="main.js"></script>

</body>
</html>
<!-- <h3><span class="fa fa-user"></span> Local</h3>

<% if (user.local.email) { %>
    <p>
        <strong>email</strong>: <%= user.local.email %><br>
    </p>

    <a href="/unlink/local" class="btn btn-default">Unlink</a>
<% } else { %>
    <a href="/connect/local" class="btn btn-default">Connect Local</a>
<% } %> -->