*{
  font-family: 'GFS Neohellenic', sans-serif;
}
body{
  background-color: rgb(121, 154, 120);
}
#small{
  font-size: 3rem;
}
#smaller{
  font-size: 1.5rem;
}
#img{
  width: 400px;
  height: 400px;
}
body{
  padding-top:80px;
  word-wrap:break-word;
}
#design{
  text-align: left;
}
.well{
  background-color: rgb(121, 154, 120);
  text-align: center;
}
.bride{
  width: 50px;
  height: 50px;
}
.groom{
  width: 50px;
  height: 50px;
}
.messages{
  list-style: none;
}
#riaSide{
  width: 50%;
}
#panosSide{
  width: 50%;
}
.row{
  display: flex;
}
#mrp , #mrsp {
  border-bottom: 1px solid;
}
#about{
  margin-top:15% ;
  display: flex;
  border: 2px rgb(6, 65, 6) solid;
  padding: 20px;
}
#couple{
  height: 180px;
  width: 130px;
  border-radius: 40%;
  margin-right: 20px;
}
footer{
  width: 100%;
  background: url('img/bg.png');
  background-size: contain;
  font-size: 8px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}